/* frontend/src/pages/ChangePassword.css */
.change-password-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  background-color: #f8f1e9; /* Color hueso */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.change-password-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.change-password-success {
  color: #50c878;
  margin-bottom: 15px;
  font-size: 1rem;
}

.change-password-error {
  color: #ff4d4f;
  margin-bottom: 15px;
  font-size: 1rem;
}

.change-password-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.change-password-input {
  padding: 12px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.3s ease;
}

.change-password-input:focus {
  border-color: #50c878;
}

.change-password-button {
    padding: 12px;
    font-size: 1.2rem;
    background-color: #0077b6; /* Azul medio */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.change-password-button:hover {
  background-color: #45b069;
}

.change-password-button:active {
  background-color: #3a944d;
}