/* frontend/src/pages/ResetPassword.css */
.reset-password-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #f8f1e9; /* Color hueso */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .reset-password-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333; /* Texto oscuro */
  }
  
  .reset-password-success {
    color: #50c878; /* Verde éxito */
    margin-bottom: 15px;
    font-size: 1rem;
  }
  
  .reset-password-error {
    color: #ff4d4f; /* Rojo error, más preciso que 'red' */
    margin-bottom: 15px;
    font-size: 1rem;
  }
  
  .reset-password-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .reset-password-input {
    padding: 12px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc; /* Borde neutro */
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .reset-password-input:focus {
    border-color: #00b4d8; /* Verde al enfocar */
  }
  
  .reset-password-button {
    padding: 12px;
    font-size: 1rem;
    border-color: #0077b6; /* Verde botón */
    color: #fff; /* Texto blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .reset-password-button:hover {
    border-color: #00b4d8; /* Verde más oscuro al pasar el mouse */
  }
  
  .reset-password-button:active {
    border-color: #0092af; /* Verde aún más oscuro al clic */
  }
  
  .reset-password-back-button {
        padding: 12px;
        font-size: 1.2rem;
        background-color: #0077b6; /* Azul medio */
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
  }
  
  .reset-password-back-button:hover {
    background-color: #00b4d8;
  }
  
  .reset-password-back-button:active {
    background-color: #0098b6;
  }