/* frontend/src/pages/ResetPasswordConfirm.css */
.reset-password-confirm-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #f8f1e9; /* Color hueso */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .reset-password-confirm-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .reset-password-confirm-success {
    border-color: #00b4d8;
    margin-bottom: 15px;
    font-size: 1rem;
  }
  
  .reset-password-confirm-error {
    color: #ff4d4f;
    margin-bottom: 15px;
    font-size: 1rem;
  }
  
  .reset-password-confirm-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .reset-password-confirm-input {
    padding: 12px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .reset-password-confirm-input:focus {
    border-color: #00b4d8;
  }
  
  .reset-password-confirm-button {
        padding: 12px;
        font-size: 1rem;
        background-color: #0077b6; /* Azul medio */
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
  }
  
  .reset-password-confirm-button:hover {
        background-color: #00b4d8; /* Azul vibrante */
        transform: scale(1.02);
  }
  
  .reset-password-confirm-button:active {
    background-color: #007086;
  }