body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Estilos del Nav */
nav a:hover {
  background-color: #357ABD; /* Azul más oscuro al pasar el ratón */
}

/* Contenedores generales */
h2 {
  color: #333333;
}

p {
  color: #333333;
  font-size: 1.1em;
}